* {
  box-sizing: border-box;
}

form{
  display: flex;  
  width: inherit;
  flex-direction: column;
}

.new-tweet{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
}

.tweet-input{
  display: flex;
  flex-direction: column;
}

#tweet-field{
  font-weight: 300;
  border: none;
  outline: none;
  border-bottom: 4px solid black;
}

#tweet-prompt{
  font-weight: 700;
}

#tweet-btn{
  font-family: 'Bungee', sans-serif;
  width: 200;
  height: 100;
  margin: 10px;
  padding:10px;
  border: none;
  background-color: #4056A1;
  color: white;
  cursor: pointer;
}

#tweet-btn:hover{
  background-color:#5F80ED;
  box-shadow:2px 5px 8px #888888
}

#tweet-btn:disabled{
box-shadow: none;
background-color:gray;
 cursor: default;
}

.tweet-action{
  display: flex;
  justify-content: space-between;
}

.counter{
  font-family: 'Bungee', sans-serif;
}

.tweet-error{
display:flex;
justify-content: space-around;

margin: auto;
margin-bottom:20px;
width: 100%;
align-items: center;
color: white;
background-color: #4056A1;
}